<!-- Modal -->
<div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light">
          <h5 class="modal-title" id="exampleModalLabel">Get bulk data</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmitBulkData()">
              <div class="row">
                <div class="col mb-3">
                  <h6>Initial time</h6>

                  <div class="input-group mb-3">
                    <small class="mr-2 mt-2">Date</small>
                    <input id="initDatepicker" [matDatepicker]="initDatepicker" formControlName="initDate">
                    <mat-datepicker-toggle [for]="initDatepicker" class="text-dark"></mat-datepicker-toggle>
                    <mat-datepicker #initDatepicker></mat-datepicker>
                  </div>

                  <div class="input-group" style="width: fit-content;">
                    <small class="mr-2 mt-2">Hour</small>
                    <select class="form-control" formControlName="initHour">
                      <option *ngFor="let i of tUtils.range24">{{i}}</option>
                    </select>
                  </div>

                  <hr>

                  <h6>Final time</h6>

                  <div class="input-group mb-3">
                    <small class="mr-2 mt-2">Date</small>
                    <input id="finalDatepicker" [matDatepicker]="finalDatepicker" formControlName="finalDate">
                    <mat-datepicker-toggle [for]="finalDatepicker" class="text-dark"></mat-datepicker-toggle>
                    <mat-datepicker #finalDatepicker></mat-datepicker>
                  </div>

                  <div class="input-group" style="width: fit-content;">
                    <small class="mr-2 mt-2">Hour</small>
                    <select class="form-control" formControlName="finalHour">
                      <option *ngFor="let i of tUtils.range24">{{i}}</option>
                    </select>
                  </div>

                  <hr>

                  <button type="submit" class="btn" [ngClass]="{
                    'btn-outline-warning' : invalidData,
                    'btn-outline-danger' : loadingFailed,
                    'btn-dark' : !loadingFailed
                  }">
                    Update
                    <div *ngIf="loading" class="spinner-border spinner-border-sm text-light ml-2" role="status">
                    </div>
                  </button>
                  <div class="alert alert-warning mt-3" *ngIf="invalidData">
                    Bulk data is only available for periods shorter than 4 days!
                  </div>
                </div>
                <div class="col-sm-4 border border-secondary p-3 fitContent">

                  <div class="btn-group-toggle mb-3">
                    <label class="btn btn-dark">
                      <input type="checkbox" checked (click)="onDisplayTimeColClicked()">
                      <div *ngIf="!displayTimeCol">Display time</div>
                      <div *ngIf="displayTimeCol">Hide time</div>
                    </label>
                  </div>

                  <table class="table">
                    <thead>
                      <tr>
                        <th *ngIf="displayTimeCol">Time</th>
                        <th>Temperature</th>
                        <th *ngIf="displayTimeCol">Cloudiness</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let observation of observations">
                        <td *ngIf="displayTimeCol">{{ observation.time | date:'dd/MMM HH:mm':'GMT' }}</td>
                        <td>{{ observation.temperature | number:'1.1-1' | commaDecimal }}</td>
                        <td *ngIf="displayTimeCol">{{ observation.cloudiness | percent }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>