<div id="background">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">YAWA - <small>Yet Another Weather App</small></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li>
          <a class="btn btn-sm btn-secondary mr-2 mb-2" data-toggle="modal" data-target="#bulkDataModal" href="#">
            Get bulk data
          </a>
        </li>
        <li>
          <button class="btn btn-sm btn-secondary mr-2" (click)="displayMinMaxClicked()"
            [ngClass]="{'btn-info': displayMinMax}">
            Display min/max
          </button>
        </li>
        <li>
          <button class="btn btn-sm btn-secondary mr-2" (click)="displayAverageTempClicked()"
            [ngClass]="{'btn-info': displayAverageTemp}">
            Display daily average temperature
          </button>
        </li>
        <li>
          <button class="btn btn-sm btn-secondary mr-2" data-toggle="modal" data-target="#gradientModal">
            Display gradient
          </button>
        </li>
      </ul>
    </div>
    <span class="text-light navbar-text">
      Powered by Dark Sky
    </span>
  </nav>

  <app-bulk-data-modal [UTC]="UTC" [coords]="coords" [date]="date">
  </app-bulk-data-modal>

  <temp-gradient [UTC]="UTC" [coronavirus]="coronavirus" [elevation]="elevation">

  </temp-gradient>

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <form [formGroup]="locationForm" (ngSubmit)="update()">
          <div class="form-group">
            <div class="row form-group mb-3">
              <div class="col-9">
                <label>Coordinates:</label>
                <div class="input-group mb-3">
                  <input #coordInput id="coordinates" type="text" class="form-control" formControlName="coords"
                    [readonly]="locationEnabled" (keyup)="onCoordinatesChange(coordInput.value)">
                  <div class="input-group-append">
                    <button type="button" class="input-group-text" (click)="onLocationClicked()">
                      <em class="material-icons" *ngIf="locationEnabled">gps_fixed</em>
                      <em class="material-icons" *ngIf="!locationEnabled">location_disabled</em>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <label>UTC</label>
                <input #UTCinput id="utc" type="text" class="form-control" formControlName="UTC"
                  (keyup)="onUTCChange(UTCinput.value)">
              </div>
            </div>

            <div class="form-check mb-2">
              <input id="now" class="form-check-input" type="checkbox" formControlName="now" (click)="onNowClicked()">
              <label class="form-check-label" for="defaultCheck1">
                Now
              </label>
            </div>
            <div *ngIf="!now">
              <div class="input-group mb-2">
                <label class="mr-2">Date:</label>
                <input #dateInput id="datepicker" [matDatepicker]="myDatepicker" formControlName="myDatepicker"
                  (dateChange)="onDateChange(dateInput.value)">
                <mat-datepicker-toggle [for]="myDatepicker" class="text-dark"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <label>Hour</label>
                  <select class="form-control" formControlName="hour">
                    <option *ngFor="let i of tUtils.range24">{{i}}</option>
                  </select>
                </div>

                <div class="col-6">
                  <label>Minute</label>
                  <select class="form-control" formControlName="minute">
                    <option *ngFor="let i of tUtils.range60">{{i}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn" [ngClass]="{
                        'btn-outline-danger' : loadingFailed,
                        'btn-dark' : !loadingFailed
                       }" [disabled]="!locationForm.valid">
            Update
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-light ml-2" role="status">
            </div>
          </button>

        </form>
      </div>
      <div class="col-lg-4 col-md-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            Temperature: {{temperature | number:'.0-0'}} °C
            ({{temperature + 1.5 | number:'.1-1'}})
          </li>
          <li *ngIf="displayMinMax" class="list-group-item list-group-item-action">
            Min: {{min | number:'.0-0'}} °C /
            Max: {{max | number:'.0-0'}} °C
          </li>
          <li *ngIf="displayAverageTemp" class="list-group-item list-group-item-action">
            Average temperature {{averageTemperature | number: '.0-1'}} °C
          </li>
          <li class="list-group-item list-group-item-action" *ngIf="!editHumidity">
            Humidity: {{humidity*100 | number:'.0-0'}}%
            <button type="button" class="btn btn-sm btn-light ml-1" (click)="changeHumidity()">
              <i style="font-size: 18px;" class="material-icons">edit</i>
            </button>
          </li>
          <li class="list-group-item list-group-item-action" *ngIf="editHumidity">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Humidity: </span>
              </div>
              <input #humidity type="text" class="form-control" (change)="onHumidityChanged(true, humidity.value)">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>
          </li>
          <li class="list-group-item list-group-item-action">
            Dew point: {{dewPoint | number:'.0-0'}} °C
            <button type="button" class="btn btn-sm btn-light ml-1" (click)="changeDewPoint()">
              Recalculate
            </button>
          </li>
          <!-- <li class="list-group-item list-group-item-action" *ngIf="editDewPoint">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Dew Point: </span>
              </div>
              <input #dewPoint type="text" class="form-control" 
                (change)="onDewPointChanged(dewPoint.value)">
              <div class="input-group-append">
                <span class="input-group-text">°C</span>
              </div>
            </div>
          </li> -->
          <li class="list-group-item list-group-item-action">Cloudiness: {{cloudiness*100 | number:'.0-0'}}%</li>
          <li class="list-group-item list-group-item-action">
            Conditions: {{conditions}}
          </li>

        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <ul class="list-group">
          <li *ngIf="windSpeed > 5" class="list-group-item list-group-item-action">Wind: {{windSpeed | number: '.0-0'}}
            km/h</li>
          <li *ngIf="visibility < 5" class="list-group-item list-group-item-action">Visibility:
            {{visibility*1000 | number: '.0-0'}} m</li>
          <li *ngIf="breathCondensation > 0" class="list-group-item list-group-item-action">Breath condensation:
            {{breathCondensation | number: '.0-2'}}</li>
          <li *ngIf="snowProbability > 0 && rainIntensity >=1" class="list-group-item list-group-item-action">Snow
            Probability:
            {{snowProbability | percent}}</li>
          <li *ngIf="rainIntensity >= 1" class="list-group-item list-group-item-action">
            Rain intensity: {{rainIntensity | number: '.0-1'}}
            <button class="btn btn-light btn-sm" (click)="onAdjustTemperatureClicked()">Adjust Temperature</button>
          </li>
          <li class="list-group-item list-group-item-action">Elevation: {{actualElevation}} m</li>
        </ul>
      </div>
    </div>
  </div>
</div>